body {
  background: url(space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: inset -5px 0 30px 10px;
  position: absolute;
  margin-top: -400px;
}
