body {
  background: url(space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  width: 400px;
  height: 400.5px;
  border-radius: 50%;
  box-shadow: inset -5px 0px 100px 5px, 0px 0px 200px 100px rgb(2, 2, 10);
  position: absolute;
  margin-top: -405px;
}

.box {
  width: 400px;
  height: 400px;
  margin: 7% 0 0 35%;
  border-radius: 50%;
  overflow: hidden;
}

.box img {
  height: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    margin-left: -840px;
  }
  100% {
    margin-left: 0px;
  }
}
